<h2>Our contacts: </h2>
<%= form_for :contacts, url: contacts_path do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :title %>
    <%= f.text_area :title %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>